<nz-table #outBordered nzOuterBordered [nzData]="tasks">
  <thead>
    <tr>
      <th>Name task</th>
      <th>key</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of outBordered.data">
      <td>{{ data.name }}</td>
      <td>{{ data.id }}</td>
      <td>
        <a (click)="emitProps(data.name, data.id)"><app-update [name]="data.name" [id]="data.id"></app-update></a>
        <br />
        <a (click)="delete(data.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>