<a nzType="primary" (click)="open()">edit</a>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Edit"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form [formGroup]="taskUpdate" *nzDrawerContent>
    
    <nz-form-item>
        <nz-form-control nzErrorTip="Please type your task">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input class="login-input" [(ngModel)]="name" formControlName="name" placeholder="Task" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  </form>
  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
      <button nz-button nzType="primary" (click)="submitForm()">Update</button>
    </div>
  </ng-template>
</nz-drawer>
